<h1>Certificates</h1>

<div class="search">
  <%= form_tag certificates_path, method: :get do %>
    <input type="search" name="search" id="search" placeholder="Search"
      class="big_input fat-sides">
    <input list="headings" name="filter" id="filter" placeholder="Filter"
      class="big_input fat-sides">
    <datalist id="headings">
      <option value="url">URL</option>
      <option value="vulnerabilities">Vulnerabilities</option>
      <option value="ciphers">Ciphers</option>
      <option value="ip_address">IP Address</option>
      <option value="load_balancer">Load Balancer</option>
    </datalist>
    <button type="submit" class="features" id="submit-search">
      <i class="fas fa-search fa-3x"></i>
    </button>
  <% end %>
  <button class="features"><a href="/certificates/new" id="add-certificate">
    <i class="fas fa-plus fa-3x">
  </i></a></button>
</div>

<table>
  <thead>
    <tr>
      <th>URL</th>
      <th>Expiration</th>
      <th>Vulnerabilities</th>
      <th>Ciphers</th>
      <th>IP Address</th>
      <th>Load Balancer</th>
    </tr>
  </thead>
  <tbody>
    <% @certificates.each do |cert| %><tr>
      <td><%= cert.url %></td>
      <td><%= cert.expiration %></td>
      <td><% cert.vulnerabilities.each do |vuln| %>
        <p><%= vuln %></p>
      <% end %></td>
      <td><% cert.cipher_names.each do |cipher| %>
        <p><%= cipher %></p>
      <% end %></td>
      <td><%= cert.ip_address %></td>
      <td><%= cert.load_balancer_hostname %></td>
    </tr><% end %>
  </tbody>
</table>
