<h1>Certificate Ciphers</h1>

<table>
  <thead>
    <tr>
      <th>Certificate</th>
      <th>Cipher</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @certificate_ciphers.each do |cc| %><tr>
      <td><%= cc.certificate_url %></td>
      <td><%= cc.cipher_name %></td>
      <td>
        <%= form_for cc do |f| %>
          <%= f.text_field :comment, id: "certificate_cipher_comment_#{cc.id}" %>
          <%= f.submit 'Update Comment', id: "submit_#{cc.id}" %>
        <% end %>
      </td>
    </tr><% end %>
  </tbody>
</table>
