<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Certificate Manager</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
          crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="flex">
        <a href="https://sharepoints.tv.intra.bt.com" class="nav"
          id="sharepoint">
          Sharepoints
        </a>
        <a href="https://broadbandportal.tv.intra.bt.com" class="nav"
          id="broadband-portal">
          Broadband Portal
        </a>
        <a href="https://device-manager.tv.intra.bt.com" class="nav"
          id="device-manager">
          Device Manager
        </a>
      </nav>
      <div class="logo">
        <%= image_tag "logo.png" %>
      </div>
      <% if logged_in? %><nav class="flex">
        <%= link_to 'Certificates', certificates_url, class: 'nav',
          id: 'certificates-link' %>
        <%= link_to 'Load Balancers', load_balancers_url, class: 'nav',
          id: 'traffic-managers-link' %>
        <%= link_to 'Certificate Ciphers', certificate_ciphers_url,
          class: 'nav', id: 'users-link' %>
        <%= link_to current_user.username, user_url(current_user.id),
          class: 'nav', id: 'profile-link' %>
        <%= link_to 'Sign Out', '/sessions', method: 'delete', class: 'nav',
          id: 'sign-out' %>
      </nav><% else %><nav class="flex">
        <%= link_to 'Register', new_user_url, class: 'nav', id: 'register' %>
        <%= link_to 'Login', root_url, class: 'nav', id: 'login-page' %>
      </nav><% end %>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
